<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://semantic-ui.com/dist/semantic.min.css">
    <title>Title</title>
</head>
<body>
<nav id="id_navbar" class="ui secondary  menu">
    <a id="id_navbar_home" class="active item" href="/">
        صفحه اصلی
    </a>


        <a id="id_navbar_logout" class="item" href="/logout">خروج</a>
        <a id="id_navbar_signup" class="item" href="/signUp">
            ثبت نام
        </a>
        <a id="id_navbar_login" class="item" href="/login">
            ورود
        </a>
        <a id="id_navbar_contact_us" class="item" href="/contactUs">تماس با ما</a>

</nav>

<p>درخواست شما ثبت شد</p>
</body>
</html>